Update feature docs as we go along in implementation.  I will follow the rule of having them in /docs/features
Update chore docs as we go along in implementation.  I will follow the rule of having them in /docs/chores
Keep ROADMAP.md up to date as well checking things as we go
